@mixin grid {
  display: grid;
}

@mixin flex {
  display: flex;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%grid {
  @include grid;
}

%flex {
  @include flex;
}

%flex-center {
  @include flex-center;
}